# Exercise: Iris Dataset
Now that you have a good understanding of exploritory data analysis and it's importance, it's time to put your knowledge to a more practical example. We'll be focusing on a iris public dataset from the scikit-learn library.

Our main objectives for this dataset are:
1. Load the iris dataset into a pandas dataframe
2. Create a table summary of the features and target values
3. Create a histogram of all the features and target
4. Create a correlation matrix of the features and target
5. Create scatter plots of all the features and target

In [3]:
import pandas as pd
import sklearn
from sklearn import datasets
import matplotlib.pyplot as plt

In [4]:
# Load in the iris dataset
iris = datasets.load_iris()

In [5]:
# For clarity, the iris dataset is a dictionary with the data and target separated
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
# Create the iris `data` dataset as a dataframe and name the columns with `feature_names`
df = pd.DataFrame(iris.data, columns=iris.feature_names)

# Include the target as well
df['target'] = iris.target

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [8]:
# Loading iris dataset, use `as_frame=True` to return it as a dataframe
iris = datasets.load_iris(as_frame=True)

In [9]:
# For clarity, the iris dataset is a dictionary with the data and target separated
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [10]:
iris.frame

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [11]:
# Create the iris dataset as a dataframe, it'll be the `frame` key
df = pd.DataFrame(iris.frame)

In [12]:
# Check your dataframe by `.head()`
iris.head()

AttributeError: head

In [ ]:
# Simple table summary
?

In [ ]:
# Histogram to show all the data distributions including the target
?

In [ ]:
# Investigate to see if any data are correlated positively or negatively
?

# Scatter Plot Of Features
Create a scatter plot of the four features against eachother to visualize the results from the correlation matrix
1. `sepal length (cm)` vs. `sepal width (cm)`
2. `sepal length (cm)` vs. `petal length (cm)`
3. `sepal length (cm)` vs. `petal width (cm)`
4. `sepal width (cm)` vs. `petal length (cm)`
5. `sepal width (cm)` vs. `petal width (cm)`
6. `petal length (cm)` vs. `petal width (cm)`

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=3, figsize=(12, 8))
df.plot(ax=axes[0,0], ?)
df.plot(ax=axes[0,1], ?)
df.plot(ax=axes[0,2], ?)
df.plot(ax=axes[1,0], ?)
df.plot(ax=axes[1,1], ?)
df.plot(ax=axes[1,2], ?)

# Scatter Plot Of Features And Target
Create a scatter plot of the four features against the target
1. `sepal length (cm)`
2. `sepal width (cm)`
3. `petal length (cm)`
4. `petal width (cm)`

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(10, 8))
df.plot(ax=axes[0, 0], ?)
df.plot(ax=axes[0, 1], ?)
df.plot(ax=axes[1, 0], ?)
df.plot(ax=axes[1, 1], ?)